extends tarot-layout
  
block main
    h1 ABOUT EVERYTHING IN THE UNIVERSE
    .main
      p Not really! Rochelle is a freelance artist and self-taught developer who specialises in bringing your creative ideas to life with technology.
      p She also enjoys look at tarot cards once in a while, which is where the idea for this app came from. 
      p Have a look around, you might learn something about your future! 
