extends tarot-layout

block main
  .container-index
    h1.title-main Fool's Guide
    h2.title-main-sub Your personal tarot companion
  //
    div
      li
        a(href='/card-of-the-day') Card of the Day
      li
        a(href='/tarot-reading') Get a Reading
      li
        a(href='/browse-cards') Browse the Cards
      li
        a(href='/about') About
