extends tarot-layout
  
block main
  h1 The Major Arcana
  p "The Major Arcana Tarot cards represent the life lessons, karmic influences and the big archetypal themes that are influencing your life and your soul's journey to enlightenment. The Major Arcana card meanings are deep and complex –in beautiful ways! Theses Tarot cards truly represent the structure of human consciousness and hold the keys to life lessons passed down through the ages."
  p - Biddy Tarot
    .major-card
      for card in majorArcana 
        p #{card.name}
