doctype html
html(lang='en')
  head 
    title Fool's Guide
    link(rel='stylesheet', href='static/css/styles.css')
  
  body
    ul.navigation
      li
        a(href='/') Home
      li
        a(href='/card-of-the-day') Card of the Day
      li
        a(href='/tarot-reading') Get a Reading
      li
        a(href='/browse-cards') Browse Cards
      li
        a(href='/about') About
    block main
